
Redirected/Redirected.xcodeproj/xcuserdata/edvinas.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Redirected/Redirected.xcodeproj/project.xcworkspace/xcuserdata/edvinas.xcuserdatad/

Redirected/Redirected.xcodeproj/project.xcworkspace/xcshareddata/Redirected.xccheckout

Redirected/Redirected.xcodeproj/project.xcworkspace/xcuserdata/edvinas.xcuserdatad/WorkspaceSettings.xcsettings
